<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zondy's Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    </style>
    
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
      <h1 class="text-center mt-4 mb-4">Zondy's First website</h1>
      <img class="img-fluid" id="banner" src="https://learningwebwithpython.zondythe.repl.co/static/banana.jpeg">
      <h2 class="text-center mt-4 mb-4" >About Zondy</h2>
      <p class="lead">Welcome to my website, where you'll find absolutely nothing of value! That's right, this website is all about nothing. Nada. Zilch. Zero. But hey, sometimes nothing can be a welcome break from the constant noise and information overload of the internet, right? So sit back, relax, and enjoy the emptiness. Who knows, you might even find some inner peace in the nothingness. Or, you know, you might just get really bored. Either way, thanks for stopping by!.</p>
  
      <h2 class="text-center mt-4 mb-4">Unfortunately My Friends(Only Some)</h2>
      <div style = "margin-bottom: 8px; ">
        {%for friend in friends%}
          {% include 'friendlist.html'%}         
        {%endfor%}
      </div>
    
    </div>
    <div class="text-center">
      <a href="mailto:zondyinc@gmail.com?subject=Bro%20wassup%20I%20just%20visited%20you%20website.&body=Name%3A%20%3CEnter%20your%20name%3E%0D%0A%0D%0AExperience%3A%0D%0A%3CHow%20was%20your%20experience%3F%3E" type="button" class=" btn btn-primary btn-lg" style="margin-top: 50px">Contact Me</a>
      {% include 'footer.html' %}
    </div>
    
    
    
    
  </body>
</html>