<!DOCTYPE html>
<html>
  <head>
    <title>Zondy's Website</title>
    <style>
      h1{
        text-align:center;
        font-family: Roboto;
        font-size:40;
        color : #383C4A
      }
      h2{
        text-align:center;
        font-family: Roboto;
        font-size:32;
        color : #383C4A;
      }
      #banner {
        width: 100%;
        height: 500px;
        object-fit : cover;
        
      }
      #container{
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Zondy's First website</h1>
      <img id="banner" src="https://learningwebwithpython.zondythe.repl.co/static/banana.jpeg">
      <h2>About Zondy</h2>
      <p>Welcome to my website, where you'll find absolutely nothing of value! That's right, this website is all about nothing. Nada. Zilch. Zero. But hey, sometimes nothing can be a welcome break from the constant noise and information overload of the internet, right? So sit back, relax, and enjoy the emptiness. Who knows, you might even find some inner peace in the nothingness. Or, you know, you might just get really bored. Either way, thanks for stopping by!.</p>
  
      <h2>Maybe Job Positions</h2>
      <p>TODO - add some jobs here</p>
      
      </div>
    <div style="text-align:center;">
      <button>Contact us</button>
    </div>
    <p style="font-family: Roboto;font-weight:bold; text-align: center">Copyright 2023, Zondy Inc.</p>
    
  </body>
</html>